@model IEnumerable<FerreteriaProMAX01.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Registrar un nuevo producto</h2>


<table class="table">
    <tr>
        <th>
            <ol>Nombre Producto</ol>
        </th>
        <th>
            <ol>Precio Unitario</ol>
        </th>
        <th>
            <ol>Unidades en existencias</ol>
        </th>
        <th>
            <ol>Categoria</ol>
        </th>
        <th>
          <ol>Marca</ol>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioU)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Stok)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdProducto }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdProducto }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdProducto })
            </td>
        </tr>
    }

</table>
<p>

    <button class=" btn btn-secondary">@Html.ActionLink("Crear nuevo ", "Create")</button>
</p>