@model FerreteriaProMAX01.Models.DetalleEstadoUsuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetalleEstadoUsuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.Estado1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Estado1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO_LOGIN.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO_LOGIN.Usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDetalleEstadoUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
